<div class="container">
  <h2 class="py-4"> Profil </h2>

  <div class="card border-primary">
    <div class="card-header text-primary">
      <h4> <%= @user.first_name %> <%= @user.last_name %> </h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3">Prénom</div>
        <div class="col-lg-9"><%= @user.first_name %></div>
      </div>
      <div class="row">
        <div class="col-lg-3">Nom</div>
        <div class="col-lg-9"><%= @user.last_name %></div>
      </div>
      <div class="row">
        <div class="col-lg-3">Description</div>
        <div class="col-lg-9"><%= @user.description %></div>
      </div>
      <div class="row">
        <div class="col-lg-3">Email</div>
        <div class="col-lg-9"><%= @user.email %></div>
      </div>
    </div>
  </div>
</div>

<h2 class="py-4"> Ses évènements (<%=@user.events.size%>) </h2>
<table class="table">
  <% n = 1 %>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <% @user.events.each do |e|%>
    <tbody>
      <tr>
        <th scope="row"> <%= n %> </th>
        <td> <%= e.title %> </td>
        <% n = n+1 %>
      </tr>
    </tbody>
  <% end %>
  
</table>

<br/>
<br/>
<%= link_to 'Modifier le profil', edit_user_registration_path, class:"btn btn-secondary" %>