<div class="container mt-5">
<h4>Veuillez saisir les élements ci-dessous pour modifier votre évènement</h4>
  <div class="row">
    <div class="col-md-8 offset-md-2">

      <%=form_tag url_for(event_path), method: 'patch' do%>
        <div class="form-row">
          <div class="col-md-7 mb-3">
            <label>Titre</label>
            <%= text_field_tag :title,@event.title, class: "form-control", type:"text", placeholder:"Titre" %>
          </div>
          <div class="col-md-4 mb-3">
            <label>Ville</label>
            <%= text_field_tag :location,@event.location, class: "form-control", type:"text", placeholder:"Ville" %>
          </div>
          <div class="col-lg-7 mb-3">
            <label>Date</label>
            <%= date_field_tag :start_date,@event.start_date, class: "form-control", type:"date", placeholder:"Date" %>
          </div>
        </div>  
        <div class="form-row">
          <div class="col-md-3 mb-3">
            <label>Durée</label>
            <%= text_field_tag :duration,@event.duration, class: "form-control", placeholder:"Durée - multiple de 5 minutes" %>
          </div>
          <div class="col-md-3 mb-3">
            <label>Prix</label>
            <%= text_field_tag :price,@event.price, class: "form-control", placeholder:"Prix - compris entre 1 et 1 000" %>
          </div>
          <div class="col-lg-7 mb-3">
            <label>Description</label>
            <%= text_area_tag :description,@event.description, class: "form-control"  %>
          </div>
        </div>
        
        <div class="actions mt-5">
          <%= submit_tag "Modifier l'événement", class: "btn btn-lg btn-primary btn-block"%>
        </div>      
      <% end %>

      <%= link_to "SUPPRIMER l'événement !", event_path(@event), {method: :delete, class: "btn btn-lg btn-block btn-danger mt-4", data: {confirm: "C'est vraiment sur ?"}} %>

    </div>
  </div>
</div>