
<div class="container mt-5">
<h4>Veuillez saisir les élements ci-dessous pour créer votre nouvel evenement</h4>
  <div class="row">
    <div class="col-md-8 offset-md-2">

      <%= form_with model: @event, local: true do |form| %>
        <div class="form-row">
          <div class="col-md-7 mb-3">
            <label><%= form.label :title, 'Titre' %></label>
            <%= form.text_field :title, class: "form-control", type:"text", placeholder:"Titre" %>
          </div>
          <div class="col-md-4 mb-3">
            <label><%= form.label :location, 'Ville' %></label>
            <%= form.text_field :location, class: "form-control", type:"text", placeholder:"Ville" %>
          </div>
          <div class="col-lg-7 mb-3">
            <label><%= form.label :start_date, 'Date' %></label>
            <%= form.text_field :start_date, class: "form-control", type:"date", placeholder:"Date" %>
          </div>
        </div>  
        <div class="form-row">
          <div class="col-md-3 mb-3">
            <label><%= form.label :duration, 'Durée' %></label>
            <%= form.text_field :duration, class: "form-control", placeholder:"Durée - multiple de 5 minutes" %>          </div>
          <div class="col-md-3 mb-3">
            <label><%= form.label :price, 'Prix' %></label>
            <%= form.text_field :price, class: "form-control", placeholder:"Prix - compris entre 1 et 1 000" %>          </div>
          <div class="col-lg-7 mb-3">
            <label><%= form.label :description, 'Description' %></label>
            <%= form.text_area :description, class: "form-control"  %>
          </div>
        </div>
        
        <button class="btn btn-primary" type="submit">Submit form</button>          
      <% end %>
    </div>
  </div>
</div>


